.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.query {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  color: black;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  outline: none;
}

.search-btn {
  font-size: 1.2rem;
  background-color: #fbc2eb;
  border: none;
  padding: 10px 20px;
  color: blueviolet;
  outline: none;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
