.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px gray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.title {
  display: inline-block;
  word-wrap: break-word;
  margin: 0 1rem;
  width: 40vw;
  color: cornflowerblue;
  text-align: center;
  text-decoration: none;
}

.title:hover {
  color: blueviolet;
}

a[target="_blank"]:after {
  content: " ";
  margin-left: 21px;
}

a[target="_blank"]:hover:after {
  font-family: "FontAwesome";
  content: " \f08e";
  font-size: 12px;
  margin-left: 6px;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
}

.ingr {
  list-style-type: circle;
  overflow-wrap: break-word;
  margin: auto;
  margin-left: 2em;
  padding-right: 2em;
  width: 25rem;
}

.image {
  border-radius: 20%;
  margin: 1rem;
  margin-right: 3rem;
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  .cont {
    display: block;
    width: 90vw;
  }
  .title {
    padding: 1em;
    width: 90vw;
    font-size: 0.5em;
    margin-left: 25px;
  }
  .ingr {
    list-style-type: circle;
    margin: 0;
    width: 70vw;
  }
  .image {
    display: flex;
    margin: auto;
    margin-top: 2rem;
  }
}
